p{
color: black;
}

body{

background-color: white;
}

/* dodgerblue looks good */
/* purple */
.header{
color: black;
background-color: dodgerblue;
margin-left:-8px;
margin-right: -10px;
text-align: left;
height: 80px
}

.fixedLine{
margin-bottom: -8px;
}
.fixedTextJob{
margin-top: -15px;
}

.border{
text-decoration: none;
width:0px;

}
.white{
color:black;
background-color: dodgerblue;
position: absolute;
top: 59px;
border-outline:black;
outline: 0.5px solid ;




}

.fixedLineTop{
margin-top: -15px;
}





.divider{
flex-grow:1;
height:1;
}

p{
background-color: white;
border-bottom: 5px;
}

.right{
float:right;}

main{
background-color:white;
padding: 1px;
margin-right: 10px;
margin-left:10px;
}

